@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #303846;
}

.app {
  padding: 3rem;
  width: 100vw;
  height: 50vh;
  color: white;
  text-align: center;
  margin-bottom: 1rem;

  img {
    width: 8rem;
    animation: rotate 5s linear infinite;
  }

  h1 {
    margin: 0;
  }

}

.container{
  background-color: #303846;
  text-align: center;
  color: white;
  width: 45rem;
  height: 50vh;
  display: flex;
  margin: 0 auto;

  input{
    width: 40rem;
    height: 2rem;
    margin: 1rem;
    text-align: center;
  }
  .addBtn{
    padding: 1rem;
    width: 10rem;
    height: 3.5rem;
    margin: 1rem;
    align-self: center;
    background-color: #e3e3e3;
    cursor: pointer;
  }

  .btn{
    padding: 1rem;
    width: 10rem;
    height: 3.4rem;
    margin: 1rem;
    align-self: center;
    background-color: #e3e3e3;
    color: #000000;
    text-decoration: none;
    font-family: Arial, serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn:hover{
    background-color: #6e6e6e;
    color: white;
  }
}

.tarefasContainer{
  display: flex;
  height: 16rem;
  width: auto;
}

.containerNovaTarefa {
  display: flex;
  height: 16rem;
  width: 3rem;
}